# Odoo core
ODOO_ADMIN_PASSWD=change_me
ODOO_DB_HOST=localhost
ODOO_DB_PORT=5432
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=change_me
ODOO_ADDONS_PATH=/path/to/odoo18/addons,/path/to/custom-addons
ODOO_LOGFILE=/path/to/odoo.log

# SMTP / outgoing mail server (configure corresponding record in Odoo UI)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASSWORD=change_me
SMTP_TLS=true
SMTP_SSL=false
SMTP_FROM_FILTER=your-email@example.com